<div class="posts">
  <h1>Upvotes</h1>
  <% if @user.upvotes.empty? %>
  <div class="post"><h3>You have not upvoted any posts yet.</h3></div>
  <% else %>
    <% @user.upvotes.each do |upvote| %>
      <div class="post">
        <h3><%= link_to upvote.post.title, post_path(upvote.post) %></h3>
        <h6><%= link_to upvote.post.user.full_name, dashboard_path(upvote.post.user) %> | <%= upvote.post.time %></h6>
        <p><%= upvote.post.content %></p>
        <div class="post-tags">
          <%= raw tag_links(upvote.post.all_tags) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= content_for(:title, "Posts Upvoted by " + @user.full_name.camelize) %>
