<div class="navbar-wrapper">
  <%= link_to "TYPEPRINT", root_path, class: "navbar-title" %>
  <!-- Desktop -->
  <div class="navbar-links hidden-xs hidden-sm">
    <ul class="list-inline">
      <% if user_signed_in? %>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "DASHBOARD", dashboard_path(current_user) %></li>
        <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "SIGN UP / SIGN IN", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

  <!-- Mobile -->
  <div class="navbar-dropdown hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "ABOUT", about_path %></li>
          <li><%= link_to "DASHBOARD", dashboard_path(current_user) %></li>
          <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ABOUT", about_path %></li>
          <li><%= link_to "SIGN UP / SIGN IN", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
