<h3>ACTIVITY FEED</h3>

<% if @user.following.empty? %>
  <div class="placeholder-message">
    <%= @user == current_user ? "You are not following anyone yet." : @user.first_name.capitalize + " has not followed anyone yet." %>
  </div>
<% else %>
  <div class="banners">
    <% @user.activity.first(3).each do |post| %>
      <div class="banner">
        <%= link_to post_path(post) do %>
          <div class="banner-title">
            <h4><%= post[:title].upcase %></h4>
            <h5><%= post[:created_at].strftime("%B %e, %Y").upcase %></h5>
          </div>
          <div class="banner-body">
            <div class="banner-creator">
              By <%= link_to dashboard_path(post[:user]) do %>
                <%= post[:name] %>
              <% end %>
            </div>
            <%= post[:content].chars.count > 80 ? post[:content].first(80) + "..." : post[:content] %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to "See more...", newsfeed_path(@user), class: "banner-footer" %>
  </div>
<% end %>
