<h3>ANALYTICS</h3>

<div class="tabs hidden-xs hidden-sm">
  <% if @user == current_user %>
    <a href="#" class="tab" id="post-tab">POSTS (<%= @user.posts.count %>)</a>
    <a href="#" class="tab" id="comment-tab">COMMENTS (<%= @user.comment_count %>)</a>
    <a href="#" class="tab" id="upvote-tab">UPVOTES (<%= @user.upvote_count %>)</a>
  <% else %>
    <a href="#" class="tab" id="post-tab">POSTS (<%= @user.posts.count %>)</a>
    <a href="#" class="tab" id="upvote-tab">UPVOTES (<%= @user.upvote_count %>)</a>
  <% end %>
</div>

<!-- Posts -->
<div class="analytics" id="post-analytics">
  <% if @user.posts.empty? %>
    <div class="placeholder-message">
      <% if @user == current_user %>
        <%= link_to "There are no published posts yet. Would you like to write one now?", new_post_path %>
      <% else %>
        <%= @user.first_name.capitalize + " has not posted anything yet." %>
      <% end %>
    </div>
  <% else %>
    <div class="chart">
      <%= column_chart @user.posts.group_by_month(:created_at, format: "%b %Y").count, colors: ["gray"] %>
    </div>
  <% end %>
</div>

<!-- Comments -->
<div class="analytics hidden" id="comments-analytics">
  <% if @user == current_user %>
    <% if @user.posts.empty? %>
      <div class="placeholder-message"><%= link_to "You have not published any posts for other people to comment on. Would you like to write one now?", new_post_path %></div>
    <% else %>
      <%= bar_chart @user.posts.group(:title).sum(:id), colors: ["gray"] %>
    <% end %>
  <% end %>
</div>

<!-- Upvotes -->
<div class="banners analytics hidden" id="upvote-analytics">
  <% @user.posts.order(created_at: :desc).first(3).each do |post| %>
    <div class="banner">
      <%= link_to post_path(post) do %>
        <div class="banner-title">
          <div class="banner-upvote">
            <h4><%= post.title.upcase %></h4>
            <h5><%= "(" + pluralize(post.upvotes.count, "upvote") + ")" unless post.upvotes.empty? %></h5>
          </div>
          <h5><%= post.time %></h5>
        </div>
        <div class="banner-body">
          <% if post.upvotes.empty? %>
            <div class="banner-body">There are no upvotes yet.</div>
          <% else %>
            <div class="upvote-grid">
              <% post.upvotes.each do |upvote| %>
                <%= link_to dashboard_path(upvote.user) do %>
                  <div class="upvote-info">
                    <div class="upvote-avatar"><%= cl_image_tag @user.photo unless @user.photo.nil? %></div>
                    <div class="avatar-name"><%= upvote.user.first_name %></div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "And " + (@user.posts.count - 3).to_s + " more...", posts_path, class: "banner-footer" if @user.posts.count > 3 %>
</div>

<% content_for(:after_js) do %>
  <script>
    const postAnalytics = document.getElementById("post-tab");
    postAnalytics.addEventListener("click", (event) => {
      event.preventDefault();
      $(".analytics").addClass("hidden")
      $("#post-analytics").removeClass("hidden")
    });

    const commentAnalytics = document.getElementById("comment-tab");
    commentAnalytics.addEventListener("click", (event) => {
      event.preventDefault();
      $(".analytics").addClass("hidden")
      $("#comments-analytics").removeClass("hidden")
    });

    const upvoteAnalytics = document.getElementById("upvote-tab");
    upvoteAnalytics.addEventListener("click", (event) => {
      event.preventDefault();
      $(".analytics").addClass("hidden")
      $("#upvote-analytics").removeClass("hidden")
    });
  </script>
<% end %>
