<div class="header-stats">
  <div class="stat">
    <% if @user.posts.count > 0 %>
      <%= link_to posts_path do %>
        <div class="stat-label">Posts</div>
        <div class="stat-number"><%= @user.posts.count %></div>
      <% end %>
    <% else %>
      <div class="stat-label">Posts</div>
      <div class="stat-number"><%= @user.posts.count %></div>
    <% end %>
  </div>
  <div class="stat hidden">
    <div class="stat-label">Drafts</div>
    <div class="stat-number">10</div>
  </div>
  <div class="stat">
    <div class="stat-label">Following</div>
    <div class="stat-number"><%= @user.following.count %></div>
  </div>
  <div class="stat">
    <div class="stat-label">Followers</div>
    <div class="stat-number"><%= @user.followers.count %></div>
  </div>
  <div class="stat">
    <% if @user.upvotes.count > 0 %>
      <%= link_to upvotes_path do %>
        <div class="stat-label">Upvotes</div>
        <div class="stat-number"><%= @user.upvotes.count %></div>
      <% end %>
    <% else %>
      <div class="stat-label">Upvotes</div>
      <div class="stat-number"><%= @user.upvotes.count %></div>
    <% end %>
  </div>
</div>
<% if @user == current_user %>
  <div class="header-links">
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn" %>
    <%= link_to "Newsfeed", newsfeed_path(current_user), class: "btn" %>
    <%= link_to "Add New Post", new_post_path, class: "btn" %>
  </div>
<% else %>
  <div class="header-links">
    <%= render "relationships/form" %>
  </div>
<% end %>
