<h3><%= link_to "POSTS", posts_path %></h3>
<div class="mobile tabs">
  <% if @user == current_user %>
    <a href="#" class="tab" id="published-tab">PUBLISHED (<%= @user.posts.count %>)</a>
    <a href="#" class="tab" id="draft-tab">DRAFTS (5)</a>
  <% end %>
</div>

<!-- Published Posts -->
<div class="banners post-banners" id="published-posts">
  <% if @user.posts.empty? %>
    <div class="placeholder-message">There are no published posts yet.</div>
  <% else %>
    <% @user.posts.order(created_at: :desc).first(5).each do |post| %>
      <div class="banner">
        <%= link_to post_path(post) do %>
          <div class="banner-title">
            <h4><%= post.title.upcase %></h4>
            <h5><%= post.time %></h5>
          </div>
          <div class="banner-body mobile">
            <%= post.content.chars.count > 80 ? post.content.first(80) + "..." : post.content %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to "And " + (@user.posts.count - 5).to_s + " more...", posts_path, class: "banner-footer" if @user.posts.count > 5 %>
  <% end %>
</div>

<!-- Draft Posts -->
<% if @user == current_user %>
  <div class="banners post-banners hidden" id="draft-posts">
    <div class="placeholder-message">You don't have any draft posts.
    </div>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <script>
    const publishedPosts = document.getElementById("published-tab");
    publishedPosts.addEventListener("click", (event) => {
      event.preventDefault();
      $(".post-banners").addClass("hidden")
      $("#published-posts").removeClass("hidden")
    });

    const draftPosts = document.getElementById("draft-tab");
    draftPosts.addEventListener("click", (event) => {
      event.preventDefault();
      $(".post-banners").addClass("hidden")
      $("#draft-posts").removeClass("hidden")
    });
  </script>
<% end %>
