<div class="container">
  <h1><%= @user == current_user ? "DASHBOARD" : @user.first_name + " " + @user.last_name %></h1>

  <!-- Header -->
  <div class="dashboard-header hidden-xs hidden-sm"><%= render "header" %></div> <!-- Desktop Header -->
  <div class="mobile-dashboard-header hidden-lg hidden-md"><%= render "header-mobile" %></div> <!-- Mobile Header -->

  <!-- Dashboard -->
  <div class="dashboard-grid">
    <% if @user == current_user %>
      <div class="dashboard-box left"><%= render "activity" %></div> <!-- Activity Stream -->
      <div class="dashboard-box right"><%= render "analytics" %></div> <!-- Analytics -->
      <div class="dashboard-box left"><%= render "comments" %></div> <!-- Comments -->
      <div class="dashboard-box right"><%= render "posts" %></div> <!-- Posts -->
    <% else %>
      <div class="dashboard-box left"><%= render "analytics" %></div> <!-- Analytics -->
      <div class="dashboard-box right"><%= render "posts" %></div> <!-- Posts -->
    <% end %>
  </div>
</div>

<!-- Header Title -->
<% if @user == current_user %>
  <%= content_for(:title, "Dashboard") %>
<% else %>
  <%= content_for(:title, @user.full_name.camelize) %>
<% end %>
