<div class="container">
  <!-- Title -->
  <h1><%= @user == current_user ? "DASHBOARD" : @user.first_name + " " + @user.last_name %></h1>
  <!-- Dashboard Header -->
  <div class="dashboard-header">
    <%= render "header" %>
  </div>

  <div class="dashboard-grid">
    <div class="dashboard-box left"><%= render "activity" %></div> <!-- Activity Stream -->
    <div class="dashboard-box right"><%= render "analytics" %></div> <!-- Analytics -->
    <div class="dashboard-box left"><%= render "comments" %></div> <!-- Comments -->
    <div class="dashboard-box right"><%= render "posts" %></div> <!-- Posts -->
  </div>

</div>

<% if @user == current_user %>
  <%= content_for(:title, "Dashboard") %>
<% else %>
  <%= content_for(:title, @user.first_name.capitalize + " " + @user.last_name.capitalize) %>
<% end %>
