<div class="relationships">
  <% unless @users.empty? %>
    <h1><%= @title %> (<%= @users.count %>)</h1>
    <% @users.each do |user| %>
      <div class="relationship">
        <%= link_to dashboard_path(user) do %>
          <div class="avatar"></div>
        <% end %>
        <div class="relationship-content">
          <div class="relationship-header">
            <div class="relationship-text">
              <h3><%= link_to user.first_name + " " + user.last_name, dashboard_path(user) %></h3>
              <div class="relationship-icons">
                <% if user.website? %>
                  <div class="relationship-icon"><a href="<%= user.website %>"><i class="fa fa-user-circle" aria-hidden="true"></i></a></div>
                <% end %>
                <% if user.linkedin? %>
                  <div class="relationship-icon"><a href="www.linkedin.com/in/<%= user.linkedin %>" %><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
                <% end %>
                <% if user.twitter? %>
                  <div class="relationship-icon"><a href="www.twitter.com/<%= user.twitter %>"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                <% end %>
              </div>

              <div class="relationship-stat">
                <%= link_to posts_path do %>
                  <strong><%= user.posts.count %></strong> <%= "Post".pluralize(user.posts.count) %>
                <% end %>
              </div>
              <div class="relationship-stat">
                <%= link_to following_path(user) do %>
                  <strong><%= user.following.count %></strong> Following
                <% end %>
              </div>
              <div class="relationship-stat">
                <%= link_to followers_path(user) do %>
                  <strong><%= user.followers.count %></strong> <%= "Follower".pluralize(user.followers.count) %>
                <% end %>
              </div>
            </div>
            <% if current_user.following?(user) %>
              <%= render "relationships/unfollow" %>
            <% else %>
              <%= render "relationships/follow" %>
            <% end %>

          </div>
          <div class="relationship-footer">
            <%= user.bio.chars.count > 300 ? user.bio.chars.first(300).join("") + "..." : user.bio %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= content_for(:title, @user.first_name + " " + @user.last_name + " | " + @title) %>
