<div class="relationships">
  <% unless @users.empty? %>
    <h2><%= link_to @user.full_name, dashboard_path(@user) %></h2>
    <h1 class="hidden-xs hidden-sm"><%= @title %> (<%= @users.count %>)</h1>
    <h1 class="hidden-md hidden-lg"><%= @title %></h1>
    <% @users.each do |user| %>
      <div class="relationship">
        <%= link_to dashboard_path(user) do %>
          <div class="relationship-avatar"></div>
        <% end %>

        <div class="relationship-content">
          <div class="relationship-header">
            <%= render "show-desktop", user: user %> <!-- Desktop -->
            <%= render "show-mobile", user: user %> <!-- Mobile -->
          </div>

          <div class="relationship-footer hidden-xs hidden-sm">
            <% unless user.bio.nil? %>
              <%= user.bio.chars.count > 300 ? user.bio.chars.first(300).join("") + "..." : user.bio %>
            <% end %>
          </div>

          <div class="relationship-follow hidden-lg hidden-md"> <!-- Follow/Unfollow Options -->
          <% if current_user.following?(user) %>
            <%= render "relationships/unfollow" %>
          <% else %>
            <%= render "relationships/follow" %>
          <% end %>
          </div>
        </div>

      </div>
    <% end %>
  <% end %>
</div>

<%= content_for(:title, @user.full_name.camelize + " | " + @title) %>
