<!-- Splash -->
<div class="home">
<% unless user_signed_in? %>
  <div class="splash">
    <h1>NOT YOUR AVERAGE BLOG</h1>
    <h2>Because my coding skills are too limited to create an average blog</h2>
    <div class="splash-links">
      <%= link_to "Get Started", new_user_session_path, class: "btn-splash" %>
      <%= link_to "Log In", new_user_session_path, class: "btn-splash" %>
    </div>
  </div>
<% else %>
  <div class="splash">
    <h1>WELCOME BACK, <%= @user.first_name %></h1>
  </div>
<% end %>

<!-- Explore Feed -->
<div class="feed">
  <div class="feed-title">
    <div class="feed-line"></div><h1>EXPLORE</h1><div class="feed-line"></div>
  </div>
  <h2>Discover what's happening on Typeprint</h2>

  <div class="explore hidden">
    <%= form_tag(posts_path, method: :get) do %>
      <%= text_field_tag :search, nil, placeholder: "SEARCH", class: "form-group" %>
      <button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
    <% end %>
    <div class="tag-cloud">
      <% cloud = [] %>
      <% unless @posts.nil? %>
        <% @posts.each do |post| %>
          <% post.tags.each do |tag| %>
            <% cloud << tag.name %>
          <% end %>
        <% end %>
        <% cloud = cloud.sort.uniq %>
        <div class="post-tags"><%= raw tag_links(cloud.join(", ")) %></div>
      <% end %>
    </div>
  </div>

  <div class="feed-tiles">
    <% @posts.order(created_at: :desc).first(6).each do |post| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="feed-tile">
          <div class="tile-content">
            <h1><%= post.title %></h1>
            <h2><%= post.user.full_name %> | <%= post.created_at.strftime("%B %e, %Y") %></h2>
            <p><%= post.content.chars.count > 200 ? post.content.chars.first(200).join + "..." : post.content %></p>
          </div>
          <%= link_to post_path(post), class: "tile-link" do %>
            <h2><i class="fa fa-thumbs-up"></i><%= post.upvotes.count %></h2>
            <h2><i class="fa fa-comment"></i><%= post.comments.count %></h2>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= content_for(:title, "Typeprint") %>
