<!-- Splash -->
<div class="home">
<% unless user_signed_in? %>
  <div class="splash">
    <h1>NOT YOUR AVERAGE BLOG</h1>
    <h2>Because my coding skills are too limited to create an average blog</h2>
    <div class="splash-links">
      <%= link_to "Get Started", new_user_session_path, class: "btn-splash" %>
      <%= link_to "Log In", new_user_session_path, class: "btn-splash" %>
    </div>
  </div>
<% end %>


<!-- Explore Feed -->
<div class="feed">
  <div class="feed-title">
    <div class="feed-line"></div>
    <h1>EXPLORE</h1>
    <div class="feed-line"></div>
  </div>
  <h2>Discover what's happening on Typeprint</h2>
</div>

<div class="feed-tiles">
  <% @posts.order(created_at: :desc).first(6).each do |post| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="feed-tile">
        <%= link_to post_path(post) do %>
          <div class="tile-content">
            <h1><%= post.title %></h1>
            <h2><%= post.user.full_name %> | <%= post.created_at.strftime("%B %e, %Y") %></h2>
            <p><%= post.content.chars.count > 200 ? post.content.chars.first(200).join + "..." : post.content %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= content_for(:title, "Typeprint") %>
