<div class="posts">
  <% if @posts.empty? %>
    <div class="post">
      <h3>There are no posts yet. <%= link_to "Would you like to write one now?", new_post_path %></h3>
    </div>
  <% else %>
    <% @posts.each do |post| %>
      <div class="post">
        <h3><%= post.title %></h3>
        <h6><%= post.created_at.strftime("%B %e, %Y") %></h6>
        <p><%= post.content %></p>
        <div class="post-links">
          <% if policy(post).edit? %>
            <%= link_to "EDIT", edit_post_path(post), class: "btn" %>
            <%= link_to "DELETE", post_path(post), class: "btn" %>
          <% else %>
            <%= link_to "SEE POST", post_path(post), class: "btn" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
