<div class="posts">
  <% if @user.posts.empty? %>
    <div class="post">
      <% if policy(post).edit? %>
        <h3><%= link_to "There are no published posts yet. Would you like to write one now?", new_post_path %></h3>
      <% else %>
        <h3><%= @user.first_name %> <%= @user.last_name %> has not written any posts yet.</h3>
      <% end %>
    </div>
  <% else %>
    <% if params[:tag] %>
      <h1>All Posts Tagged With "<%= @title %>"</h1>
    <% end %>
    <% @user.posts.each do |post| %>
      <div class="post">
        <h3><%= link_to post.title, post_path(post) %></h3>
        <h6><%= link_to post.user.full_name, dashboard_path(@user) %> | <%= post.time %></h6>
        <p><%= post.content %></p>
        <div class="post-tags">
          <%= raw tag_links(post.all_tags) %>
        </div>
        <div class="post-links">
          <% if policy(post).edit? %>
            <%= link_to "UPVOTES (" + post.upvotes.count.to_s + ")", post_path(post), class: "btn" %>
            <%= link_to "COMMENTS (" + post.comments.count.to_s + ")", post_path(post), class: "btn" %>
            <%= link_to "EDIT", edit_post_path(post), class: "btn" %>
            <%= link_to "DELETE", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn" %>
          <% else %>
            <%= link_to "SEE POST", post_path(post), class: "btn" %>
            <%= link_to "COMMENTS (" + post.comments.count.to_s + ")", post_path(post), class: "btn" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= content_for(:title, "Posts by " + @user.full_name) %>
