<div class="show">
  <div class="post-text">
    <h1><%= @post.title.upcase %></h1>
    <h6><%= @post.time %></h6>
    <p><%= @post.content %></p>
  </div>
  <div class="post-tags">
    <%= raw tag_links(@post.all_tags) %>
  </div>
  <div class="post-links">
    <% if policy(@post).edit? %>
      <div class="btn">Upvotes (<%= @post.upvotes.count %>)</div>
      <%= link_to "EDIT", edit_post_path(@post), class: "btn" %>
      <%= link_to "DELETE", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn" %>
    <% else %>
      <%= render "upvotes/form", post: @post, upvote: Upvote.new %>
    <% end %>
  </div>
  <hr>
  <div class="comments">
    <h3>COMMENTS (<%= @post.comments.count %>)</h3>
    <% if @post.comments.blank? %>
      <p>Be the first to leave a comment for this article.</p>
      <div class="comment-form">
        <%= render "comments/form", post: @post, comment: @comment %>
      </div>
    <% else %>
      <% @post.comments.each do |comment| %>
        <%= render "comments/show", comment: comment %>
      <% end %>
      <div class="comment-form">
        <%= render "comments/form", post: @post, comment: @comment %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for(:title, @post.title.split.map { |p| p.capitalize}.join(" ") + " | " + @post.user.first_name) %>
